.main {
  display: flex;
  width: 70vw;
  justify-content: space-between;
}

.main__create-pet {
  margin-left: 100px;
}

.main__game-field {
  width: 200px;
}

.input-container {
  display: inline-flex;
  flex-direction: column;
}

.hidden {
  visibility: hidden;
}

.created-pets {
  display: flex;
  width: 100px;
  background-color: #D0F0F0;
  border: 2px solid black;
  margin-top: 10px;
}

.created-pets:hover {
  cursor: pointer;
}